.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.page-container {
  background-color: #b8c1d1;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 1, 1);
  padding-left: 200px;
  padding-right: 200px;
}

.App-link {
  color: #09d3ac;
}


